body {
    font-family: "Helvetica", "Arial", "Sans-serif";

    font-size: 16pt;
}

#title {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}

#id {
    border: 0px;
}

#data {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#data .symbol {
    width: 8em;
    height: 8em;
    margin: 0px auto 0px auto;
}

#data .symbol .name {
    font-size: 2em;
}

#data .symbol .close {
    font-size: 1.5em;
    font-weight: bold;
}

#data .symbol .last {
    color: #888;
    font-size: .8em;
    padding-bottom: 2px;
}

#data .symbol .date {
    color: #888;
    font-size: .7em;
}

.stockUp {
    color: #42c542;
}

.stockDown {
    color: #fb6a6a;
}
